{{ template "header" }}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Personal Blogspot</h1>
            <p class="lead">Personal Blogspot is a collaboritve platform for creative writers. Write, read, and share your stories with the world. Together, we can make magic.</p>
            <p class="lead">
              <a href="/signup" class="btn btn-lg btn-success">Get Started</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Site created by <a href="http://jennifer-garner-711.appspot.com/">Bhaskar Settipalli</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

{{ template "footer" }}

<style>
  html {
    background-image: url("");
  } 
  body {
    background: none;
    color: white;
  }
</style>
